@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Nunito+Sans:opsz@6..12&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #0c687a;
    --secondary-color: #105d6b;
    --accent1-color: #D7D9CE;
    --accent2-color: #13505b43;

    --heading-font: 'Istok Web', sans-serif;
    --paragraph-font: 'Nunito Sans', sans-serif;

    --nav-background-color: #119DA4;
    --nav-link-color: #0000EE;
    --nav-hover-link-color: #6C3B31;
    --nav-hover-background-color: #13505b;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: var(--heading-font);
    color:var(--secondary-color);
}

header{
    display: grid;
    margin: 1rem auto;
    grid-template-columns: 200px 1fr ;
    align-items: center;
    border-bottom: 1.5px solid var(--primary-color);
    font-family: var(--heading-font);
    font-size: 20px;
  
}
.logo {
    width: 210px;
    height: auto;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    
}

.a1, .a2, .a3, .a4 {
    background-color: var(--primary-color);
    padding: .2rem 1rem ;
    border: none;
    border-radius: 4px;
}


.navbar a {
    color: #fff;
    text-decoration: none;
    
    
}

.navbar a:hover {
    background-color: darkgreen;
}


body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.h1 {
    position: absolute;
    top: 15px;
    left: 23%;
    background-color: #fbfcfcb1;
    padding: 0px 20px;
    border-radius: 10px;
    
    
}
.article {
    position: absolute;
    text-align: center;
    font-size: medium;
    margin-top: 15px;
    top: 90px;
    right: 40px;
    left: 40px;
    background-color:#fbfcfcb0;
    padding: 4px;
    border-radius: 4px;
}

.article img {
    float: right;
    width: 10%;
    height: auto;
}

.section1 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    background-color: var(--accent2-color);
    border:3px solid var(--primary-color);
    border-radius: 22px;
    margin: 20px;
    padding: 5px
}

.section2 {

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    background-color: var(--accent2-color);
    border:3px solid var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;

}
.section3 {

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin: 15px 40px;
    padding: 0 40px 20px;
    border-bottom: 1px solid var(--primary-color);

}
.section4 {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;

}
.h2 { 
    grid-column: 1/6;
    padding-top: 5px;
}
.h2-meet-employee {
    grid-column: 1/4;
}
.h1-contact {
    text-align: left;
    margin-left: 25px;
}
.img1, .img2, .img3, .img4, .img5 {
    display: flex;
    max-width: 100%;
    border-radius: 8px;
}
.img_trips1 {
    grid-column: 1/10;
    grid-row: 1/2;
}
.img_trips2 {
    grid-column: 10/21;
    grid-row: 2/3;
}
.img_trips3 {
    grid-column: 20/31;
    grid-row: 3/4;
}
.trips_table {
    display: flex;
    grid-column: 15/30;
    align-items: center;
}
.trips_contact_button {
    display: flex;
    align-items: center;
    grid-column: 1/15;
    grid-row: 3/4;
}
figure {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-top: 1px solid var(--primary-color);
    margin-top: 15px;
    padding-top: 5px;
}
footer p {
    display: grid;
    justify-content: center;
    align-items: center;
}
.sociallinks img {
    width: 40px;
    height: auto;
    margin: 3px;
}
footer a {
    text-decoration: none;
}

form {
    width: 60%;
    height: auto;
    margin: 20px auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: .5rem;
    background-color: #eee;
    display: inline-block;
}
.contact-info {
    border: solid grey 1px;
    border-radius: 8px;
    padding: 2rem;
    float: right;
    margin: 20px;
}

fieldset {
    display: grid;
    grid-gap: 0.75rem;
    margin: .25rem;
    border: 1px solid black;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3rem;
}

label {
    display: grid;
}
.form-item {
    display: grid;
    align-items: center;
}
.column1 {
    text-align: right;
    grid-template-columns: 40% 60%;
    padding-right: 10px;
}
.form-item2 {
    display: grid;
    align-items: center;
}
.column2 {
    text-align: left;
    padding-left: 10px;
}
input[type="radio"]


textarea, input {
    padding: .25rem;
    font-size: 1rem;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    
    
}
button {
    margin: .5rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .7rem;
    font-size: 1.2rem;
}
button:hover {
    background-color: darkgreen;
}
iframe {
    width: 150px;
    height: auto;
    margin: 15px 0;
}

